body {
    background-color: #000;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
button {
    padding: 5px 10px;
    font-size: 20px;
}
.loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top:solid 5px white;
    border-left:solid 5px white;
    display: none;
    animation: anim 1s infinite ease;
}
.loading.show {
    display: block;
}
.loading.error {
    animation: none;
    border: none;
    text-align: center;
}
.loading.error::before {
    content: 'Error!';
    color: black;
    font-size: 32px;
}

button {
    border: white 2px solid;
    border-radius: 2px;
    background-color: white;
    font-family: "Dela Gothic One", sans-serif;
    height: 50px;
    font-size: large;
}

input {
    border: black 2px solid;
    border-radius: 2px;
    background-color: white;
    font-family: "Dela Gothic One", sans-serif;
    margin-left: 25px;
    height: 50px;
    font-size: large;
    outline: none;
}

@keyframes anim {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}