.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

.text {
    font-family: "Dela Gothic One";
    color: black;
    width: auto;
    text-decoration: none;
}

#header {
    z-index: 1000;
    margin: 0px;
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    text-align: center;
    background: white;
    backdrop-filter: blur(10px);
}

#div_gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.gallery_card {
    position: relative;
    height: 400px;
    cursor: pointer;
    overflow: hidden;
    margin: 5px;
}

.gallery {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}

.gallery_card:hover .gallery {
    transform: scale(1.1);
}

#info {
    height: auto;
    width: auto;
    border: 2px black solid;
    border-radius: 10px;
    border-radius: 5px;
    padding: 20px;
}

.content {
    padding: 5%;
    height: auto;
    width: auto;
}

html, body {
    scroll-behavior: smooth;
}

a {
    width: auto;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: auto;    
    margin: 0px 0;            
}        
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    border: black 2px solid;
    border-radius: 10px;
    background-color: white;
    font-family: "Dela Gothic One", sans-serif;
    font-size: large;
    padding: 5px;
}

button :hover {
    background: transparent;
    backdrop-filter: blur(10px);
}



