body {
    background-color: #000;
    height: 100vh;
}

*{
    padding: 0px;
    margin: 0px;
}

.loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top:solid 5px white;
    border-left:solid 5px white;
    display: none;
    animation: anim 1s infinite ease;
}
.loading.show {
    display: block;
}
.loading.error {
    animation: none;
    border: none;
    text-align: center;
}
.loading.error::before {
    content: 'Error!';
    color: black;
    font-size: 32px;
}
.btns {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: auto;
}

button {
    border: white 2px solid;
    border-radius: 2px;
    background-color: white;
    font-family: "Dela Gothic One", sans-serif;
}

input {
    border: black 2px solid;
    border-radius: 2px;
    background-color: white;
    font-family: "Dela Gothic One", sans-serif;
    outline: none;
    width: auto;
    height: auto;
}


@keyframes anim {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
